<% content_for :title, "Thank you for participating!" %>

<div class="container-fluid centerify">
  <div class="row">
    <div class="col-xs-12 col-sm-10 offset-sm-1">
      <h1>Thank you for participating in this giveaway!</h1>
    </div>
  </div>
</div>