<% content_for :title, "Thank you for participating!" %>
<link rel="stylesheet" href="/assets/confirm.scss">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<div class="container-fluid" id="confirm-header">
</div>

<section id="confirm-signup">
    <div class="container" id="confirm">
      <div class="row">
        <div class ="col-xs-12 col-sm-12 text-center">
          <h4>Thank you for participating in this giveaway!</h4>
        </div>
      </div>
    </div>
</section>
