<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="http://vectorlogo4u.com/wp-content/uploads/2016/05/shopify-vector-720x340.png" alt="Store">
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Welcome to the "<%= @giveaway.name %>" giveaway!</h1>
    </div>
  </div>
</div>

<div class="w-100 mt-5 mb-5">
  <div class="cardish" style="background-image: url(https://www.tesla.com/tesla_theme/assets/img/models/section-hero-background.jpg?20170115); ">
    <div class="overlay w-100 h-100 text-center">
      <p class="title">Tesla</p>
    </div>
  </div><div class="cardish" style="background-image: url(https://www.tesla.com/tesla_theme/assets/img/models/section-hero-background.jpg?20170115); ">
    <div class="overlay w-100 h-100 text-center">
      <p class="title">Tesla</p>
    </div>
  </div><div class="cardish" style="background-image: url(https://www.tesla.com/tesla_theme/assets/img/models/section-hero-background.jpg?20170115); ">
    <div class="overlay w-100 h-100 text-center">
      <p class="title">Tesla</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center mb-5">
    <div class="col-10 offset-1">
      <p>This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. This is a giveaway. Nuff said. Lorem ipsum and stuff. </p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-10 offset-1 text-center">
      <h2>Now get ready to win awesome stuff</h2>
    </div>
  </div>

  <div class="row pb-5">
    <div class="col-10 offset-1">
        <%= form_for :user, url: enter_giveaway_path do |f| %>
          <div class="form-group row">
              <input type="text" class="form-control col-6" placeholder="First Name">
              <input type="text" class="form-control col-6" placeholder="Last Name">
          </div>
          
          <div class="form-group row">
              <input type="text" class="form-control col-12" placeholder="Email Address">
          </div>
          
          <div class="form-group row">
              <input type="text" class="form-control col-6" placeholder="Street Address">
              <input type="text" class="form-control col-6" placeholder="Postal Code">
          </div>

          <div class="form-group row">
              <input type="text" class="form-control col-4" placeholder="City">
              <input type="text" class="form-control col-4" placeholder="Province">
              <select class="form-control col-4">
                  <option>Canada</option>
                  <option>United States</option>
              </select>
          </div>

          <div class="form-group row text-center">
            <%= f.submit :class=>"btn btn-lg btn-primary"%>
          </div>
      <% end %>
  </div>
</div>
