<% content_for :javascript do %>
  <% javascript_include_tag 'dash_submit.js' %>
<% end %>

<div class="centerify">
  <div>
    <div class="w-100 text-center pt-1 pb-1">
      <h1>Create a new giveaway</h1>
    </div>

    <div class="container">
      <div class="col-md-8 push-md-2">
        <%= form_for :giveaway, url: '/giveaways/create' do |f| %>
          <div class="form-group row">
            <label for="name" class="col-3 col-form-label">Name</label>
            <div class="col-9">
              <input type="text" name="name" id="name" class="form-control" placeholder="An Awesome Giveaway" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-3 col-form-label">Description</label>
            <div class="col-9">
              <input type="text" name="description" id="description" class="form-control" placeholder="The most amazing fucking giveaway ever" required>
            </div>
          </div>

          <div class="form-group row" id="prizesView" style="display: none; ">
            <label for="prizes" class="col-3 col-form-label">Prizes</label>
            <div class="col-9">
              <ul class="list-group" id="prizes"></ul>
            </div>
          </div>

          <!-- Ssshh, I'm hiding -->
          <input type="hidden" name="products">

          <div class="form-group row mt-4">
            <div class="col-9 offset-3 text-right">
              <button type="button" id="btnAddProduct" class="btn btn-md btn-primary">Add Product</button>
              <button type="submit" class="btn btn-md btn-success" disabled>Save Giveaway</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>