<% content_for :javascript do %>
    <script text="text/javascript">
        ShopifyApp.ready(function() {
            ShopifyApp.Bar.initialize({
                title: "New Giveaway",
                icon: "<%= asset_path('favicon.ico') %>"
            });

            window.addProduct = function () {
                ShopifyApp.Modal.productPicker({'selectMultiple': true}, function(success, data) {

                    alert(data);

                });
            }
        });
    </script>
<% end %>

<div class="col-12 text-center">
    <br />
    <h1>Create a new giveaway</h1>
    <br />
</div>

<div class="container">
    <div class="col-md-8 push-md-2">

        <%= form_for :giveaway, url: giveaways_path do |f| %>

          <div class="form-group row">
            <label for="gaName" class="col-3 col-form-label">Name</label>
            <div class="col-9">
              <input type="text" class="form-control" placeholder="The most amazing fucking giveaway ever">
            </div>
          </div>

          <div class="form-group row">
            <label for="products" class="col-3 col-form-label">Add Products</label>
            <div class="col-9">
              <input type="hidden" class="form-control" placeholder="The most amazing fucking giveaway ever">
            </div>
            <button class="btn btn-md btn-primary" onclick="addProduct()">Add Product</button>
          </div>


          <%= f.submit :class=>"btn btn-md btn-success float-right"%>
        <% end %>

    </div>
</div>
