<% content_for :javascript do %>
  <% javascript_include_tag 'dash_submit.js', :id => 'dash-script' %>
<% end %>

<div class="centerify">
  <div>
    <div class="w-100 text-center pt-1 pb-1">
      <h1>Create a new giveaway</h1>
    </div>

    <div class="container">
      <div class="col-md-8 push-md-2">
          <%= render("form") %>
      </div>
    </div>
  </div>
</div>
