<% content_for :javascript do %>
    <script>
      ShopifyApp.ready(function () {
          ShopifyApp.Bar.initialize({
              title: "<%= @giveaway.name %> - Details",
              buttons: {
                primary: {
                  label: 'Go Back',
                  href: '/'
                }
              }
          });
      })
    </script>
<% end %>

<div class="container">
    <div class="row">
        <div class="xs-12">

            <h2>Participants</h2>
            <br />
            <% if @giveaway.users.length != 0 %>
            <table class="table table-bordered table-responsive" style="width: 100%;">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% @giveaway.users.each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                    </tr>
                    <% end %>
                <tr>
                </tbody>
            </table>
            <% else %>
                <h4>No participants signed up yet!</h4>
            <% end %>

        </div>
    </div>
</div>
