<% content_for :javascript do %>
    <script>
      ShopifyApp.ready(function () {
          ShopifyApp.Bar.initialize({
              title: <%= @giveaway.name %> - Winners,
              buttons: {
                primary: {
                  label: 'Go Back',
                  href: '/'
                }
              }
          });
      })
    </script>
<% end %>

<div class="container">
    <div class="row">
        <div class="xs-12">

            <h2>Winners</h2>
            <br />
            <table class="table table-bordered table-responsive" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Product</th>
                    </tr>
                </thead>
                <tbody>
                    <% @giveaway.winners.each do |user| %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.product_won.title %></td>
                    </tr>
                    <% end %>
                <tr>
                </tbody>
            </table>
                    
        </div>
    </div>
</div>
