body,
html {
    max-width: 100%;
    overflow-x: hidden;
}
@media (max-width: 36rem) {
    #confirm-header {
        background-color: #388E3C;
        height: 9.125rem;
        width: 100%;
    }

    #confirm-signup {
        background-color: white;
        height: 100%;
        position: absolute;
        box-shadow: 0 0.3125rem 3.125rem #2d2e30;
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 1.25rem;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
    }

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 36rem) and (max-width: 47.94rem) {
    #confirm-header {
        background-color: #388E3C;
        height: 6.375rem;
        width: 100%;
    }

    #confirm-signup {
        background-color: #4CAF50;
        height: 100%;
        width: 100%;
    }

    #confirm {
        width: 100%;
        background-color: white;
        height: 31.25rem;
        margin-top: -1.25rem;
        box-shadow: 0 0.3125rem 3.125rem #2d2e30;
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 1.25rem;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
    }

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 48rem) and (max-width: 61.94rem) {
    #confirm-header {
        background-color: #388E3C;
        height: 6.375rem;
        width: 100%;
    }

    #confirm-signup {
        background-color: #4CAF50;
        height: 100%;
        width: 100%;
    }

    #confirm {
        background-color: white;
        height: 31.25rem;
        margin-top: -1.25rem;
        box-shadow: 0 0.3125rem 3.125rem #2d2e30;
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 1.25rem;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
    }

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 62rem) {
    #confirm-header {
        background-color: #388E3C;
        height: 6.375rem;
        width: 100%;
    }

    #confirm-signup {
        background-color: #4CAF50;
        height: 100%;
        width: 100%;
    }

    #confirm {
        background-color: white;
        height: 31.25rem;
        margin-top: -1.25rem;
        box-shadow: 0 0.3125rem 3.125rem #2d2e30;
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 1.25rem;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
    }

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 75rem) {
    #confirm-header {
        background-color: #388E3C;
        height: 6.375rem;
        width: 100%;
    }

    #confirm-signup {
        background-color: #4CAF50;
        height: 100%;
        width: 100%;
    }

    #confirm {
        background-color: white;
        height: 100%;
        margin-top: -1.25rem;
        box-shadow: 0 0.3125rem 3.125rem #2d2e30;
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 1.25rem;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;
    }

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
}
