.cardish {
  display: inline-block;
  height: 400px;

  background-size: cover;
  background-position: center center;
}

.cardish > .overlay {
  background: rgba(0,0,0,.4);
  display: table;
}

.cardish > .overlay p {
  display: table-cell;
  vertical-align: middle;

  color: #fff;
  text-transform: uppercase;
}