.card.card-massive {
  background-size: cover;
  background-position: center center;
  padding: 0;
  color: #fff;
}

.card.card-massive .overlay {
  background: rgba(0,0,0,.5);
}

.card.card-massive .list-group-flush .list-group-item {
  background: none;
}

.card-outline-success {
  background-color: #fff;
}

.ended {
  opacity: .6;
}
