.card.card-massive {
  background-size: cover;
  background-position: center center;
  padding: 0;
  color: #fff;
}

.card.card-massive .overlay {
  background: rgba(0,0,0,.5);
}

.card.card-massive .list-group-flush .list-group-item {
  background: none;
}

.card-outline-success {
  background-color: #fff;
}

.ended {
  opacity: .6;
}

.pointer-helper {
  background-image: url(/assets/arrow.png);
  background-size: cover;
  background-position: center center;

  height: 50px;
  width: 50px;

  position: fixed;
  top: 0;
  right: 0;
}

.list-group {
  border-radius: 0;
}

.list-group-item {
  background: none;
  border-left: none;
  border-right: none;
}

.list-group-item .badge {
  font-weight: 300;
  font-size: 1em;
}

.list-group-item .click-minus,
.list-group-item .click-plus {
  background: #d0d0d0;
}

.color-black {
  color: #000;
}

.color-grey {
  color: #798c9c;
}

.list-group-item .click-minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.list-group-item .quantity {
  background: #fff;
  border-radius: 0;
}

.list-group-item .click-plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group-item .imgish {
  background-size: cover;
  background-position: center center;
}

iframe {
  border: none;
}

.card .list-group-item,
.card a:not(.btn) {
  color: #fff;
}

.card a:not(.btn) {
  border-bottom: dotted 1px;
}

.card a:not(.btn):hover,
.card a:not(.btn):focus,
.card a:not(.btn):active {
  border-bottom: none;
}